<!-- ******ABOUT****** -->
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">What is mbtBundle?</h2>
        <p class="intro text-center">MBT Bundle is an <b>open-source</b> testing tool using <b>Model Based Testing</b> technique.
            It do so much things <b>automatically</b> for you: <b>generate</b> test cases, <b>execute</b> test cases,
            <b>find</b> the bug, <b>reduce</b> the bug's reproduce steps, <b>report</b> the bug. So you will have time
            to focus on your <b>business logic</b>. Make your business logic clear, we will help testing them for you.</p>
        <div class="row">
            <div class="item col-lg-4 col-md-6 col-12">
                <div class="icon-holder">
                    <i class="fas fa-heart"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Open Source</h3>
                    <p>It's open source, so it's always free.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-lg-4 col-md-6 col-12">
                <div class="icon-holder">
                    <i class="far fa-clock"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Agile Friendly</h3>
                    <p>Tools describe complex business logic (State Machine, Workflow). Early testing. Save time (from generating test cases to reporting bugs).</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-lg-4 col-md-6 col-12">
                <div class="icon-holder">
                    <i class="fas fa-hands-helping"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">We Care</h3>
                    <p>Examples (API, Web App, Mobile). Documentation (Beginner, Intermediate, Advanced).</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="clearfix visible-md"></div>
            <div class="item col-lg-4 col-md-6 col-12">
                <div class="icon-holder">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Flexible</h3>
                    <p>Can test API, Web App, Mobile App.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-lg-4 col-md-6 col-12">
                <div class="icon-holder">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Scalable</h3>
                    <p>Deployable (Docker Swarm, Kubernetes). Scalable. APIs for CI.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-lg-4 col-md-6 col-12">
                <div class="icon-holder">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">User Friendly</h3>
                    <p>It has UI and Dashboard. Friendly file format (YAML). Capture bug's screenshot (Web, API).</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//about-->
