    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is mbtBundle?</h2>
            <p class="intro text-center">MBT Bundle is an open-source tool that allow you to test your application using Model Based Testing technique. Everytime a new version of your application released, this tool will test all business logic to make sure all features are working correctly. Every bug will be reported automatically e.g. to Slack or mail etc. QA do not need to write any test cases, or maintain or execute any automation test cases. Instead, QA will focus on business logic e.g. to make sure business logic do not have any defects, or all business logic are implemented.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Open Source</h3>
                        <p>It's open source, so it's always free.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>QA does not need to write, execute or maintain any test cases. It automatically make reproduce steps as shortest as possible. Bugs are automatically reported.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Flexible</h3>
                        <p>Can either do exploration test your application to find more bugs, or can test it in a limit timebox. It can be used to test API application, or Web application.</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div>
            <div class="row">
                <div class="clearfix visible-md"></div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Agile-friendly</h3>
                        <p>Allow to test your application even though it's not implemented. Allow team member focus on business logic.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Scalable</h3>
                        <p>Built with scalable in mind. Can test an application with a lot of business logic.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">User-friendly</h3>
                        <p>It has UI and API. It use a friendly file format (yaml) to define business logic. Developer write code to interact with system-under-test directly without any restriction.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
