<!-- ******DOCS****** -->
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>
            <div class="block">
                <h3 class="sub-title text-center">Blank</h3>
                <p>You can start a new black project so you can start testing right away:</p>
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre><code class="language-bash">composer create-project tienvx/mbt-bundle-skeleton my-project</code></pre>
                </div><!--//code-block-->
            </div><!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">With Examples</h3>
                <p>Or you can take a look at these examples to see how it work:</p>
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre><code class="language-bash">git clone git@github.com:tienvx/mbt-examples.git
cd mbt-examples
# Start
docker-compose up --scale worker=4
# Install
bash install.sh</code></pre>
                </div><!--//code-block-->
            </div><!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>
                <p>For more information, please check out our wiki pages. We devided into 3 parts:</p>
                <ul>
                    <li><strong>Beginner:</strong> New users</li>
                    <li><strong>Intermediate:</strong> Want to write some models</li>
                    <li><strong>Advanced:</strong> Deploy and enjoy</li>
                </ul>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://mbtbundle.gitbook.io/docs/" target="_blank">More
                        on
                        GitBook</a>
                </p>
            </div><!--//block-->

        </div><!--//docs-inner-->
    </div><!--//container-->
</section><!--//docs-->
