<!-- ******HEADER****** -->
<header id="header" class="header">
    <div class="container">
        <h1 class="logo float-left">
            <a class="scrollto" href="#promo">
                <span class="logo-title">{{ site.title }}</span>
            </a>
        </h1><!--//logo-->
        <nav id="main-nav" class="main-nav navbar-expand-md float-right" role="navigation">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!--//nav-toggle-->

            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item sr-only"><a class="nav-link scrollto" href="#promo">Home</a></li>
                    {% for widget in site.widgets %}
                    <li class="nav-item {% if forloop.last %} last {% endif %}">
                        {% if widget.archor %} <a class="nav-link scrollto" href="#{{ widget.url }}"> {% else %}<a
                            href="{{ widget.url }}">{% endif %} {{ widget.title }}</a>
                    </li>
                    {% endfor %}
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div>
</header><!--//header-->
