<!-- ******LICENSE****** -->
<section id="license" class="license section">
    <div class="container">
        <div class="license-inner">
            <h2 class="title text-center">License</h2>
            <div class="info">
                <p>This tool is made by a PHP Developer <a href="https://tienvx.github.io/"
                                                           target="_blank">Tien Vo</a> at GO1 for testers and is
                    <strong>100% FREE</strong> under the <a
                            href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
            </div><!--//info-->
        </div><!--//license-inner-->
    </div><!--//container-->
</section><!--//license-->
